@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
/* public */
* { margin: 0; padding: 0; box-sizing: border-box; } 
body { max-width: 2560px; min-width: inherit; margin: 0 auto; font-size: 16px; background: var(--color-black); color: var(--color-gray); } 
ul { list-style: none; } 
input { color: var(--color-white); } 

:root { --color-black: #39393C; --color-gray: #6C6C6E; --color-lightgray: #48484B; --color-white: #FFFFFF; --color-green: #0CAA5C; --title: 16px; --text: 14px; } 
.clear { clear: both; } 
.pretendard { font-family: "Pretendard Variable"; } 
.bold { font-weight: bold; } 
.font_green { color: var(--color-green); } 
.font_white { color: var(--color-white); } 
.padding_inner { padding: 15px 0 15px 40px; } 

#page_wrap { width: 100%; background:var(--color-black); } 
#page_wrap .content_inner { width: 500px; height: 100vh; margin: 0 auto; position: relative; } 
.img_content { width: 100px; margin: 0 20px; margin-top: 10px; user-select: none; -moz-user-select: none; -webkit-user-select: none; } 
.img_content img.main_logo { width: 100%; -webkit-user-drag: none; } 
.join_check { width: calc(100% - 40px); margin: 0 20px; margin-top: 30px; font-size: var(--text); text-align: right; cursor: pointer; } 
.join_check i { color: var(--color-green); font-size: 16px; } 
#join_form { width: 100%; margin: 0 auto; margin-top: 10px; } 
#join_form .join_table { width: calc(100% - 40px); margin: 0 20px; border-collapse: separate; border-spacing: 0; } 
#join_form .join_table tr { border-radius: 5px; } 
#join_form .join_table tr:first-of-type td { border-radius: 5px 5px 0 0; } 
#join_form .join_table tr:last-of-type td { border-radius: 0 0 5px 5px; } 
#join_form .join_table td { border: 1px solid var(--color-gray); position: relative; } 
#join_form .join_table td > i.icon { position: absolute; top: 50%; left: 10px; transform: translateY(-50%); font-size: 18px; } 
#join_form .join_table input.input,#join_form .join_table select { width: 100%; background: transparent; border: none; outline: none; font-size: var(--title); } 
#join_form .join_table td:focus-within { border: 3px solid var(--color-green); } 
ul.message { list-style: disc; margin: 10px 20px; padding: 0 20px; font-size: var(--text); color: red; } 
#join_form .join_table td input.active::placeholder { text-decoration: underline; color: red } 

/* 1번째 테이블. 아이디/비밀번호/이메일주소 */
#join_form .join_table td.password i.button { position: absolute; top: 50%; right: 15px; transform: translateY(-50%); cursor: pointer; } 
#join_form .join_table span.email_domain { position: absolute; top: 50%; right: 10px; transform: translateY(-50%); color: var(--color-gray); font-size: var(--title); } 

/* 2번째 테이블. 이름/생년월일/통신사/성별/휴대전화번호 */
#join_form .join_table:nth-of-type(2) td.telecom { position: relative; } 
#join_form .join_table:nth-of-type(2) td.telecom::after { content: "∨"; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); } 
#join_form .join_table:nth-of-type(2) td.telecom.active::after { content: "∧"; } 
#join_form .join_table:nth-of-type(2) td.telecom button { width: 100%; background: transparent; text-align: left; font-size: var(--title); color: var(--color-gray); border: none; } 
#join_form .join_table:nth-of-type(2) ul.telecom-list { width: 250px; font-size: var(--text); position: absolute; top: 40px; left: 40px; display: none; } 
#join_form .join_table:nth-of-type(2) ul.telecom-list.active { display: block; z-index: 3; } 
#join_form .join_table:nth-of-type(2) ul.telecom-list li { width: calc(50% - 20px); float: left; padding: 10px; background: var(--color-lightgray); border: 1px solid var(--color-gray); cursor: pointer; } 
#join_form .join_table:nth-of-type(2) ul.telecom-list li:nth-of-type(1) { border-top-left-radius: 5px; } 
#join_form .join_table:nth-of-type(2) ul.telecom-list li:nth-of-type(2) { border-top-right-radius: 5px; } 
#join_form .join_table:nth-of-type(2) ul.telecom-list li:nth-of-type(5) { border-bottom-left-radius: 5px; } 
#join_form .join_table:nth-of-type(2) ul.telecom-list li:nth-of-type(6) { border-bottom-right-radius: 5px; } 
#join_form .join_table:nth-of-type(2) input[type=radio] { display: none; } 
#join_form .join_table:nth-of-type(2) input[type=radio]:checked ~label { border: 1px solid var(--color-green); color: var(--color-green); } 
#join_form .join_table:nth-of-type(2) td.radio_td { padding: 5px; display: flex; justify-content: center; } 
#join_form .join_table:nth-of-type(2) td.radio_td ul { display: flex; float: left; justify-content: center; margin: 5px; font-size: var(--text); } 
#join_form .join_table:nth-of-type(2) td.radio_td ul li { padding: 5px 0; } 
#join_form .join_table:nth-of-type(2) td.radio_td ul li label { padding: 8px 35px; border: 1px solid var(--color-gray); } 
#join_form .join_table:nth-of-type(2) td.radio_td ul li:first-of-type label { border-radius: 5px 0 0 5px; } 
#join_form .join_table:nth-of-type(2) td.radio_td ul li:last-of-type label { border-radius: 0 5px 5px 0; } 
#join_form .join_table:nth-of-type(2) td.radio_td ul.sel-gender { width: 100%; display: none; } 
#join_form .join_table:nth-of-type(2) td.radio_td ul.sel-gender li:last-child label { padding: 8px 25px; } 
#join_form .join_table:nth-of-type(2) td.contry { padding-right: 10px; display: none; } 
#join_form .join_table:nth-of-type(2) td.contry i { position: absolute; top: 50%; left: 10px; transform: translateY(-50%); color: var(--color-white); } 
#join_form .join_table:nth-of-type(2) td.contry select { position: relative; color: var(--color-white); } 

/* [필수] 인증약관동의 테이블 */
#join_form .join_table:nth-of-type(3) { margin-top: 15px; } 
#join_form .join_table:nth-of-type(3) tr { border-radius: 5px; } 
#join_form .join_table:nth-of-type(3) tr td { border-radius: 5px; position: relative; } 
#join_form .join_table:nth-of-type(3) tr td i { position: absolute; top: 50%; left: 10px; transform: translateY(-50%); } 
#join_form .join_table:nth-of-type(3) tr td i.fas { color: var(--color-green); } 
#join_form .join_table:nth-of-type(3) input[type=checkbox] { display: none; } 
#join_form .join_table:nth-of-type(3) label { font-size: var(--title); } 
#join_form .join_table:nth-of-type(3) .check-btn { position: absolute; right:10px; background-color: transparent; border: none; color: var(--color-gray); font-size: 16px; } 
#join_form .join_table:nth-of-type(3) ul.check-list { position: absolute; top: 50px; left: 0; width: 100%; padding: 20px; display: none; border: solid 1px var(--color-gray); border-radius: 0 0 5px 5px; } 
#join_form .join_table:nth-of-type(3) ul.check-list.active { display: block; } 
#join_form .join_table:nth-of-type(3) ul.check-list li { position: relative; width: 50%; float: left; padding: 5px 0 5px 25px; font-size: var(--text); cursor: pointer; } 
#join_form .join_table:nth-of-type(3) ul.check-list li i { position: absolute; left: 0; font-size: var(--Btitle); } 

/* 인증요청 */
#join_form button[type=button]#submitBtn { position: absolute; bottom: 30px; width: calc(100% - 40px); margin: 0 20px; padding-left: 0; background: var(--color-green); border: none; border-radius: 5px; text-align: center; font-size: 18px; } 

/* mobile Ver. */
@media screen and (max-width: 399px){
 #page_wrap .content_inner { width: 100%; } 
 :root { --title: 12px; --text: 10px; } 
 #join_form .join_table:nth-of-type(2) td.radio_td ul li label { padding: 8px 25px; } 
 }

/* icon */
/* #join_form .join_table td.userid::before { content: ''; position: absolute; top: 50%; left: 5px; transform: translate(0, -50%); background-image: url(../../img/naver/icon.png); background-size: 198px 176px; background-position: -82px 0; background-repeat: no-repeat; width: 30px; height: 30px; } */
/* #join_form .join_table td.password:before { content: ''; position: absolute; top: 50%; left: 5px; transform: translate(0, -50%); background-image: url(../../img/naver/icon.png); background-size: 198px 176px; background-position: -50px 0; background-repeat: no-repeat; width: 30px; height: 30px; } */
/* #join_form .join_table td.email:before { content: ''; position: absolute; top: 50%; left: 5px; transform: translate(0, -50%); background-image: url(../../img/naver/icon.png); background-size: 198px 176px; background-position: 0 -82px; background-repeat: no-repeat; width: 30px; height: 30px; } */
/* #join_form .join_table:nth-of-type(2) td.name::before { content: ''; position: absolute; top: 50%; left: 5px; transform: translate(0, -50%); background-image: url(../../img/naver/icon.png); background-size: 198px 176px; background-position: -82px 0; background-repeat: no-repeat; width: 30px; height: 30px; } */
/* #join_form .join_table:nth-of-type(2) td.birth::before { content: ''; position: absolute; top: 50%; left: 5px; transform: translate(0, -50%); background-image: url(../../img/naver/icon.png); background-size: 198px 176px; background-position: 0 -52px; background-repeat: no-repeat; width: 30px; height: 30px; } */
/* #join_form .join_table:nth-of-type(2) td.telecom::before { content: ''; position: absolute; top: 50%; left: 5px; transform: translate(0, -50%); background-image: url(../../img/naver/icon.png); background-size: 198px 176px; background-position: -95px -114px; background-repeat: no-repeat; width: 30px; height: 30px; } */
/* #join_form .join_table:nth-of-type(2) td.number::before { content: ''; position: absolute; top: 50%; left: 5px; transform: translate(0, -50%); background-image: url(../../img/naver/icon.png); background-size: 198px 176px; background-position: -145px -95px; background-repeat: no-repeat; width: 30px; height: 30px; } */